
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* margin: 0 10%; */
    background-color: #faf8f6;
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden;
}

/* Nav */
.btn{
    background: none;
    border: none;
    border: 1px solid #172339;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px;
    background-color: #fafbf6;
    color: #172339;
    font-weight: bold;
    width: 200px;

}

nav{
    display: flex;
    margin: 2% 10%;
}

.nav-logo{
    /* pull flex item left */
    padding: 10px;
}

.nav-btn{
    background-color: #fafbf6;
    color: #172339;
    position: relative;
    left: 60vw;
    font-weight: bold;
}

/* Nav */


.arc{
    position: relative;
    left: 250px;
    width: 200px;
    height: 30px;
}

.section-1-container{
    display: flex;
    margin: 0 10%;

}

.section-1-1{
    display: flex;
}

.arc{
    position: relative;
    left: 340px;
    bottom: 30px;
}

.image{
   position: relative;
   left: -300px; 
   z-index: -1;
}


.text{
   position: relative;
   top: 120px;
}

.text h1{
    font-size: 1vw;
    font-weight: lighter;
    word-spacing: 5px;
    color: #172339;
    margin-bottom: 20px;
}

.text p{
    width: 40%;
    line-height: 25px;
    font-size: 18px;
    color: #49566d;
}

.text .request-beta-access--btn{
    background-color: #172339;
    color: #fafbf6;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 40px;
    padding: 15px;
}

.super-solution{
    font-weight: bold;
}

.section-1-2 ul li{
    list-style: none;
    position: relative;
    top: 120px;
    font-size: 40px;
    left: -150px;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.section-1-2 ul li h3{
    color:#172339;
}

.section-1-2 ul li p{
    color:#49566d;
    font-size: 14px;
}

.phone-image{
    display: none;
}

.phone-image-xl{
    display: block;
    max-width: 380px;
    min-width: 380px;
    margin: auto;
    padding-top: 25px;
}

.section-2-container{
    background-color: #172339;
    margin: 0 10%;
    position: relative;
    top: 150px;
    border-radius: 10px;
    display: flex;
    height: 547px;
}

.section-2-jeremy--blur{
    position: relative;
    top: 70px;
    left: 20px;
}
.section-2-jeremy{
    display: flex;
}

.section-2-jeremy--image{
    position: relative;
    left: -420px;
    top: -60px;
    
}

.section-2-arc{
    position: relative;
    top: 150px;
    left: -250px;
}

.section-2-quote{
    color: #fafbf6;
    position: relative;
    top: 100px;
    left: -100px;
}

.section-2-quote h2{
    font-size: 40px;
    font-weight: lighter;
    word-spacing: 5px;
    color: #fafbf6;
    margin-bottom: 20px;
}

.section-2-quote p{
    line-height: 30px;
    font-size: 18px;
}

.section-2-quote figcaption{
    text-transform: uppercase;
    position: relative;
    top: 20px;
    font-weight: bold;
}

.section-2-quote figcaption p{
    position: relative;
    top: 10px;
    font-weight: lighter;
    font-size: 12px;
    letter-spacing: 2px;
}

.works{
    font-weight: 700;
}

.footer-section{
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #f3ede7;
    justify-content: space-between;
    align-content: flex-end;
}

footer{
    display: flex;
    justify-content: space-between;
    margin: 10%;
    position: relative;
    top: 100px;
}

