:root {
    /* 
    01 | colors  */
    --dark-blue: hsl(219, 43%, 16%);
    --grey: hsl(218, 20%, 36%);
    --cream: rgb(243, 237, 231);
    --cream-white: hsl(30, 29%, 97%);
  
    /* ## colors for linear gradient  */
    --light-violet: rgb(160,96,255);
    --bright-magenta: rgb(203, 48, 227);
    --light-orange: rgb(255, 168, 78);
  
    /* ## buttons  */
    --btn-hover: linear-gradient(
      135deg,
      var(--light-violet) 0%,
      var(--bright-magenta) 49.21%,
      var(--light-orange) 100%
    );


    /* --btn-hover: linear-gradient(45deg, m, orange); */
    /* ; */
    /* --btn-hover: -webkit-linear-gradient(left, transparent 0%,magenta 49.2%,orange 100%); */

  
    /* 02 |  typography  */
  
    /* ### fonts  */

    /* ## font sizes  */
    --fs-heading-xl: 72px;
    --fs-heading-l: 46px;
    --fs-heading-m: 18px;
    --fs-heading-s: 16px;
    --fs-quote: 20px;
    --fs-body: 18px;
    --fs-footer: 15px;
  
    /* note: these are heading and labels for the metrics section  */
    /* --fs-h2: 3rem; */
    /* --fs-label: 1rem; */
  
    /* ## font weight  */
    --fw-300: 300;
    --fw-400: 400; 
    --fw-700: 700;
    --fw-500: 500;
    --fw-550: 550;
    --fw-600: 600;
  
    /* ## font family  */
    --ff-primary: 'Epilogue', sans-serif;

    /* spacing */
    --heading-xl-line-space: 78px;
    --heading-xl-char-space: -1px;
    --heading-l-line-space: 56px;
    --heading-l-char-space: -0.5;
    --heading-m-line-space: 32px;
    --heading-m-char-space: -0.2px;
    --heading-s-line-space: 26px;
    --heading-s-char-space: -2.5px;
    --quote-line-space: 35px;
    --quote-char-space: 0px;
    --body-line-space: 32px;
    --body-char-space: 0px;
    --footer-line-space: 32px;
    --footer-char-space: 0px;
  
    /* --br: var(--br-custom, 1rem); */
  }

  /* Reset */
  *,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
  

 .btn{
    background-color: var(--bg-color, var(--cream-white));
    color: var(--color, var(--dark-blue));
    text-decoration: none;
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
    font-size: 14px;
    padding: 15px;
    letter-spacing: -0.14px;;
 }

 .nav-btn:hover{
    background-color: var(--dark-blue);
    color: var(--cream-white);
 }

 .container{
    width: 90%;
    margin: auto;
 }

 .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
    font-weight: bold;
    margin-bottom: 50px;
 }  

.super-solution{
    /* display: flex; */
    /* flex-direction: column; */
}

 .super-solution-curve{
    width: 151.47px;
    height: 19px;
    /* justify-content: flex-end; */
    margin-left: 45%;
 }

 .super-solution-heading{
    font-size: 38px;
    font-family: var(--ff-primary);
    line-height: 44px;
    letter-spacing: -0.53px;
    color: var(--dark-blue);
    margin-bottom: 20px;
 }

.super-solution-heading > span {
    font-weight: var(--fw-700);
}

.super-solution-text{
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.09px;
    color: var(--grey);
    margin-bottom: 40px;
}

.super-solution-btn{
    font-size: 18px;
    background-color: var(--dark-blue);
    color: var(--cream-white);
    padding: 15px;
    /* margin-bottom: 40px; */
}

.super-solution-btn:hover{
    background-color: var(--btn-hover);
    color: var(--cream-white);
}

.image-hero{
    margin-top: 60px;
}

.stats{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.stats-heading{
    font-size: 48px;
    color: var(--dark-blue);
    font-weight: bold;
}

.stats-text{
    text-transform: uppercase;
    font-size: 16px;
    color: var(--grey);
}

.stats-data{
    text-align: center;
}

.testimonial{
    background-color: var(--dark-blue);
    margin-top: 300px;
    height: 740px;
    border-radius: 20px;
}

.jeremy-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../pattern-blur.svg');
    background-repeat: no-repeat;
    background-position: center top -5%;
    z-index: -1;
  }


.jeremy-container{
    margin-bottom: 40px;
}

.jeremy > img{
    margin: 0 auto;
}

.curve-2{
    margin-bottom: 40px;

}
.curve-2 > img{
    margin: 0 auto;
}

.testimonial-heading{
    color: var(--cream-white);
    text-align: center;
    padding-inline: 20px;
    margin-bottom: 40px;
    font-size: 40px;
}

.testimonial-heading > span{
    font-weight: bold;
}

.testimonial-text{
    color: var(--cream-white);
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.09px;
}

.cmo{
    text-align: center;
    color: var(--cream-white);
    font-size: 18px;
}

.cmo-name{
    font-weight: bold;
    text-transform: uppercase;
}

.cmo-branch{
    text-transform: uppercase;
}

.pull-up{
    /* background-color: yellow; */
    transform: translateY(-25%);
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 50px 0;
}

.copyright{
    font-size: 15px;
}

.social-links{
    display: flex;
    gap: 20px;
}

.social-links{
    /* background-color: var(--cream); */
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.social-links a:hover{
    opacity: 50%;
}
footer{
    background-color: var(--cream);
    width: 100%;
    position: absolute;
    /* height: auto; */
}

@media (min-width: 320px){
    /* .tablet{
        display: none;
    } */

    /* .dk-tablet{
        display: none;
    } */

    /* .dk-footer{
        display: none;
    }  */

    /* .tb-footer{
        display: none;
    } */

    .tablet{
        display: none;
    }

    .tb{
        display: none;
    }

    .image-hero-l{
        display: none;
    }

}


@media(min-width: 414px){
    .image-hero-s{
        display: none;
    }

    .image-hero-l{
        display: block;
    }
}

@media (min-width: 768px){
    body{
        font-family: var(--ff-primary);
    }
    .mobile{
        display: none;
    }

    .tb{
        display: block;
    }

    .tb > .tb-super-solution-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 50px;
    }

    .tb-super-solution{
        grid-column: 1 / span 2;
        grid-row: 1;
        justify-self: start;
        z-index: 1;
        margin-top: 100px;
        /* background-color: red; */
    }

    .tb-super-solution-curve{
        width: 231.19px;
        height: 29px;
        margin-left: 32%;
    }

    .tb-super-solution-heading{
        font-size: 59px;
        line-height: 64px;
        letter-spacing: -0.78px;
        color: var(--dark-blue);
        padding-right: 200px;
        margin-bottom: 30px;
        
    }

    .tb-super-solution-text{
        font-size: 16px;
        color: var(--grey);
        width: 350px;
        height: 84px;
        margin-bottom: 30px;
    }

    .tb-super-solution-heading > span{
        font-weight: 700;
    }

    .tb-hero-image{
        grid-column: 2/span 2;
        grid-row: 1;
        justify-self: end;
        z-index: -1;
    }

    .tb-hero-image >img{
        width: 100%;
        /* height: 482px; */
        object-fit: cover;
    }

    .tb-stats{
        display: flex;
        justify-content: space-around;
    }

    .tb-footer-container{
        display: flex;
        justify-content: space-between;
        /* margin-top: 90px; */
        padding-top:  20px;
    }

    footer {
        /* margin-top: 900px; */
        background-color: var(--cream);
        padding: 35.9em 0 4.5em;
        position: absolute;
        width: 100%;
        transform: translateY(-80%);
        z-index: -1;
    }

}

@media (max-width: 1439px){
  
    .dk-footer {
        display: none;
    }
}
@media (min-width: 1440px){

    body{
        font-family: var(--ff-primary);
    }
    .container{
        /* margin: 0 50px; */
        width: 75%;
        margin: auto;
    }
    .nav-container{
        margin-bottom: 80px;
        margin-top: 40px;
    }
    .dk-tablet{
        display: flex;
        /* grid-template-columns: minmax(min-content, 1500px) minmax(min-content, 1500px) minmax(min-content, 1500px); */
        margin-bottom: 100px;
        gap:40px;
    }

    .tb-hero-image >img{
        width: 100%;
        height: 800px;
        object-fit: cover;
    }

    .tb-super-solution{
        /* justify-self: flex-end; */
        flex-grow: 10;
        width: 1000px;
    }

    .tb-stats{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 150px;
        /* margin-bottom: 40px; */
    }

    .tb-super-solution-heading{
        font-size: 72px;
        margin-bottom: 40px;
        /* letter-spacing: 5px; */
        width: 835px;
    }

    .tb-super-solution-text{
        margin-bottom: 50px;
    }

    .tb-footer{
        display: none;
    }

    .dk-pull-up{
        display: flex;
        justify-content: center; 
        align-items: center;
        padding: 0 50px;
        gap: 40px;
        transform: translateY(-7%);
    }
    footer{
        transform: translateY(0);
        padding: 0 ;
    }

    

    .dk-testimonial-content{
        width: 350px;
        height: 369px;
        color: var(--cream-white);
    }
    .dk-testimonial-heading{
        font-size: 48px;
        margin-bottom: 40px;
    }

    .dk-testimonial-heading span{
        font-weight: bold;
    }

    .dk-testimonial-text{
        /* background-color: red; */
        width: 100%;
        /* color: var(--cream-white); */
        font-size: 18px;
        line-height: 35px;
        margin-bottom: 40px;
    }

    .dk-cmo{
        text-transform: uppercase;
    }

    .dk-cmo-name{
        font-size: 16px;
        font-weight: bold;
    }

    .dk-cmo-branch{
        font-size: 16px;
    }

    .dk-jeremy{
        width: 100%;
    }
    .dk-testimonial{
       background-color: var(--dark-blue);
       border-radius: 20px; 
       height: 549px;
       transform: translateY(10%);
    }

    .dk-jeremy-container::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('../pattern-blur.svg');
        background-repeat: no-repeat;
        background-position: right 80% top 20%;
        z-index: -1;
      }
    /* .tablet{
        display: none;
    }
    .desktop{
        display: block;
    }
    .dk-super-solution-container{
        display: flex;
    } */
    footer {
        /* margin-top: 900px; */
        background-color: var(--cream);
        padding: 20.9em 0 4.5em;
        position: absolute;
        width: 100%;
        transform: translateY(-50%);
        z-index: -1;
    }
}
